/* .input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  } */

.form label {
  font-weight: bold;
  margin-right: 1rem;
}

.form input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  font: inherit;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
