/* inside => return css  */
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0;
  padding-bottom: 1rem;
}
.actions {
  text-align: right;
  font: bold;
}
.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  margin-left: 0.5rem;
}
.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}
.actions .button--alt {
  color: #8a2b06;
}
.actions .button {
  background-color: #8a2b06;
  color: white;
}

/* till here */

/* before return css */

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8a2b06;
  padding: 0.5rem 0;
  margin: 0.2rem 0;
  border-bottom: 1px solid rgb(170, 243, 141);
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #8a2b06;
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  color: #363636;
  width: 2rem;
}

/* .actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
} */

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #8a2b06;
  border: 1px solid #8a2b06;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: #8a2b06;
  color: white;
}
